@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

/*
-- FUNETES --
font-family: 'Caveat', cursive;
font-family: 'Cinzel', serif;
font-family: 'Comforter', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Shantell Sans', cursive;
*/
body {
  font-family: "Shantell Sans", cursive; }

@media (min-width: 320px) and (max-width: 430px) {
  body {
    display: grid;
    grid-template-areas: "header" "section" "footer";
    height: max-content; }
    body header {
      background-color: #6fd1ff;
      grid-area: header;
      display: grid;
      grid-template-areas: "iconoNav"  "navegador" "logo";
      align-content: center; }
      body header .logo {
        grid-area: logo;
        display: flex;
        justify-content: center; }
        body header .logo img {
          height: 100%;
          width: 100%; }
      body header .nav {
        grid-area: navegador;
        position: relative; }
        body header .nav .navContenido {
          top: 0px;
          left: -100%;
          position: absolute;
          list-style: none;
          display: flex;
          flex-direction: column;
          align-content: space-around; }
          body header .nav .navContenido li a {
            text-decoration: none;
            font-size: 2rem;
            color: white; }
      body header .iconoNav {
        position: absolute;
        grid-area: iconoNav;
        left: 0px;
        height: 5%;
        width: 10%;
        background-image: url(../icn/mobile_menu.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
    body main {
      grid-area: section; }
      body main .seccionVideo {
        display: none; }
        body main .seccionVideo .articuloTitulo {
          padding: 20px 5px;
          text-align: center;
          font-size: 2rem; }
      body main .articuloSecundario {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        font-size: 1.5rem; }
      body main .seccionFotos .contenedorMV1 {
        width: 100%; }
        body main .seccionFotos .contenedorMV1 img {
          object-fit: contain;
          width: 100%;
          height: auto; }
      body main .seccionFotos .contenedorMV2 {
        width: 100%; }
        body main .seccionFotos .contenedorMV2 img {
          object-fit: contain;
          width: 100%;
          height: auto; }
      body main .seccionFotos .contenedorP1 {
        width: 100%; }
        body main .seccionFotos .contenedorP1 img {
          object-fit: contain;
          width: 100%;
          height: auto; }
      body main .seccionFotos .contenedorP2 {
        width: 100%; }
        body main .seccionFotos .contenedorP2 img {
          object-fit: contain;
          width: 100%;
          height: auto; }
    body footer {
      background-color: #6fd1ff;
      grid-area: footer;
      display: flex;
      flex-direction: column;
      align-content: space-around;
      padding: 20px 0; }
      body footer .contenedorRedes {
        display: flex;
        flex-direction: column;
        align-items: center; }
      body footer .contenedorMapa {
        display: flex;
        flex-direction: column;
        align-items: center; }
        body footer .contenedorMapa .mapa {
          width: 80%; } }

@media (min-width: 720px) {
  body {
    display: grid;
    row-gap: 20px;
    grid-template-rows: 20vh auto 20vh;
    grid-template-areas: "header header header" "section section section" "footer footer footer"; }
    body header {
      background-color: #6fd1ff;
      grid-area: header;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 25vh;
      grid-template-areas: "logo . nav nav"; }
      body header .logo {
        grid-area: logo;
        justify-self: center; }
        body header .logo img {
          height: 100%; }
      body header .nav {
        grid-area: nav;
        align-self: center; }
        body header .nav .navContenido {
          list-style: none;
          display: flex;
          justify-content: space-around; }
          body header .nav .navContenido li a {
            text-decoration: none;
            font-size: 2rem; }
      body header .iconoNav {
        display: none; }
    body .contenidoPrincipal {
      grid-area: section; }
      body .contenidoPrincipal .seccionVideo {
        position: relative;
        margin-bottom: 50px; }
        body .contenidoPrincipal .seccionVideo .articuloVideo {
          max-height: 70vh;
          overflow: hidden; }
          body .contenidoPrincipal .seccionVideo .articuloVideo video {
            transform: translateY(-200px); }
        body .contenidoPrincipal .seccionVideo .fondoVideo {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: black;
          opacity: 50%;
          z-index: 1; }
        body .contenidoPrincipal .seccionVideo .articuloTitulo {
          display: flex;
          font-size: 2rem;
          text-align: center;
          padding-bottom: 50px;
          overflow: hidden;
          position: absolute;
          top: 0px;
          width: 100%;
          height: 100%;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          z-index: 2;
          color: aliceblue; }
          body .contenidoPrincipal .seccionVideo .articuloTitulo img {
            width: 50%; }
      body .contenidoPrincipal .articuloSecundario {
        position: relative;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 0.5fr 4fr 0.5fr;
        grid-template-rows: 20vh 20vh;
        row-gap: 10px;
        grid-template-areas: "titulo titulo titulo"  ".  texto ."; }
        body .contenidoPrincipal .articuloSecundario:nth-child(2):before {
          content: " ";
          width: 20%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 15px;
          background-image: url("../img/profes/cele.png");
          background-repeat: no-repeat;
          background-size: cover;
          opacity: 50%;
          border-radius: 50%; }
        body .contenidoPrincipal .articuloSecundario:nth-child(5):before {
          content: " ";
          width: 95%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 15px;
          background-image: url("../img/profes/brian1-removebg-preview.png");
          background-repeat: no-repeat;
          background-size: contain;
          opacity: 50%;
          background-position: right; }
        body .contenidoPrincipal .articuloSecundario:nth-child(7):before {
          content: " ";
          width: 80%;
          height: 50%;
          position: absolute;
          top: 0px;
          left: 15px;
          background-image: url("../img/logos/logo_confederacion_danza.png");
          background-repeat: no-repeat;
          background-size: contain;
          opacity: 50%;
          background-position: right; }
        body .contenidoPrincipal .articuloSecundario .subtituloArticle {
          grid-area: titulo;
          background-image: url("../img/logos/pngwing.com.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-content: center;
          font-size: 1.5rem; }
        body .contenidoPrincipal .articuloSecundario .textoArticle {
          grid-area: texto;
          font-size: 1.5rem; }
          body .contenidoPrincipal .articuloSecundario .textoArticle .fraseNegrita {
            font-weight: bolder; }
      body .contenidoPrincipal .seccionFotos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "foto1 foto2";
        justify-items: center;
        padding: 10px 0;
        background-color: #6fd1ff; }
        body .contenidoPrincipal .seccionFotos .contenedorMV1 {
          display: flex;
          grid-area: foto1;
          width: 50%; }
          body .contenidoPrincipal .seccionFotos .contenedorMV1 img {
            border-radius: 20%;
            width: 100%; }
        body .contenidoPrincipal .seccionFotos .contenedorMV2 {
          grid-area: foto2;
          width: 50%; }
          body .contenidoPrincipal .seccionFotos .contenedorMV2 img {
            border-radius: 20%;
            width: 100%; }
        body .contenidoPrincipal .seccionFotos .contenedorP1 {
          grid-area: foto1;
          width: 50%; }
          body .contenidoPrincipal .seccionFotos .contenedorP1 img {
            border-radius: 20%;
            width: 100%; }
        body .contenidoPrincipal .seccionFotos .contenedorP2 {
          grid-area: foto2;
          width: 50%; }
          body .contenidoPrincipal .seccionFotos .contenedorP2 img {
            border-radius: 20%;
            width: 100%; }
    body footer {
      background-color: #6fd1ff;
      grid-area: footer;
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: fit-content;
      grid-template-areas: "contenedorRedes contenedorMapa"; }
      body footer .contenedorRedes {
        grid-area: contenedorRedes;
        display: grid;
        grid-template-columns: 1fr auto auto 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: ". . . ."  ". red_face usuario_face ." ". red_ig usuario_ig ." ". red_wts usuario_wts ." ". . . .";
        font-size: 1.5rem; }
        body footer .contenedorRedes .icnFace {
          grid-area: red_face; }
        body footer .contenedorRedes .usuario_face {
          grid-area: usuario_face; }
        body footer .contenedorRedes .icnIg {
          grid-area: red_ig; }
        body footer .contenedorRedes .usuario_ig {
          grid-area: usuario_ig; }
        body footer .contenedorRedes .icnWts {
          grid-area: red_wts; }
        body footer .contenedorRedes .usuario_wts {
          grid-area: usuario_wts; }
      body footer .contenedorMapa {
        grid-area: contenedorMapa;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; }
        body footer .contenedorMapa p {
          font-size: 1.5rem; }
        body footer .contenedorMapa .mapa {
          height: 70%;
          width: 70%; } }
