@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

/*
-- FUNETES --
font-family: 'Caveat', cursive;
font-family: 'Cinzel', serif;
font-family: 'Comforter', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Shantell Sans', cursive;
*/
body {
  font-family: "Shantell Sans", cursive; }

.entradaAnimacionClase {
  transition: all 2s;
  filter: grayscale(100%); }

.salidaAnimacionClase {
  transition: all 2s;
  filter: grayscale(0%); }

.animacionContenidoAdicional {
  position: absolute;
  transition: all 2s;
  top: 10px; }

.entradaContenidoAdicional {
  display: grid;
  grid-template-areas: "titulo " "dia" "categoria" "profe";
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 2s;
  height: 100%;
  overflow: hidden; }
  .entradaContenidoAdicional .tituloClase {
    grid-area: titulo;
    font-size: 3rem;
    text-align: center; }
  .entradaContenidoAdicional .diaClase {
    grid-area: dia;
    font-size: 1.5rem;
    opacity: 1;
    transition: all 2s;
    text-align: center; }
  .entradaContenidoAdicional .categoriaClase {
    grid-area: categoria;
    font-size: 1.5rem;
    opacity: 1;
    transition: all 2s;
    text-align: center; }
  .entradaContenidoAdicional .profesorClase {
    grid-area: profe;
    font-size: 1.5rem;
    opacity: 1;
    transition: all 2s;
    text-align: center; }

.salidaContenidoAdicional {
  display: grid;
  grid-template-areas: "titulo " "dia" "categoria" "profe";
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 2s;
  height: 15%;
  overflow: hidden; }
  .salidaContenidoAdicional .tituloClase {
    grid-area: titulo;
    font-size: 3rem;
    text-align: center; }
  .salidaContenidoAdicional .diaClase {
    grid-area: dia;
    font-size: 1.5rem;
    opacity: 0;
    transition: all 2s;
    text-align: center; }
  .salidaContenidoAdicional .categoriaClase {
    grid-area: categoria;
    font-size: 1.5rem;
    opacity: 0;
    transition: all 2s;
    text-align: center; }
  .salidaContenidoAdicional .profesorClase {
    grid-area: profe;
    font-size: 1.5rem;
    opacity: 0;
    transition: all 2s;
    text-align: center; }

@media (min-width: 320px) and (max-width: 430px) {
  body {
    display: grid;
    grid-template-areas: "header" "section" "footer";
    height: max-content; }
    body header {
      background-color: #6fd1ff;
      grid-area: header;
      display: grid;
      grid-template-areas: "iconoNav"  "navegador" "logo";
      align-content: center; }
      body header .logo {
        grid-area: logo;
        display: flex;
        justify-content: center; }
        body header .logo img {
          height: 100%;
          width: 100%; }
      body header .nav {
        grid-area: navegador;
        position: relative; }
        body header .nav .navContenido {
          top: 0px;
          left: -100%;
          position: absolute;
          list-style: none;
          display: flex;
          flex-direction: column;
          align-content: space-around; }
          body header .nav .navContenido li a {
            text-decoration: none;
            font-size: 2rem;
            color: white; }
      body header .iconoNav {
        position: absolute;
        grid-area: iconoNav;
        left: 0px;
        height: 5%;
        width: 10%;
        background-image: url(../icn/mobile_menu.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
    body main {
      grid-area: section; }
      body main .seccionVideo {
        display: none; }
        body main .seccionVideo .articuloTitulo {
          padding: 20px 5px;
          text-align: center;
          font-size: 2rem; }
      body main .articuloSecundario {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        font-size: 1.5rem; }
      body main .seccionFotos {
        overflow: hidden; }
        body main .seccionFotos .contenedorC1 {
          width: 100%; }
          body main .seccionFotos .contenedorC1 img {
            object-fit: contain;
            width: 100%;
            height: auto; }
        body main .seccionFotos .contenedorMV1 {
          width: 100%; }
          body main .seccionFotos .contenedorMV1 img {
            object-fit: contain;
            width: 100%;
            height: auto; }
        body main .seccionFotos .contenedorMV2 {
          width: 100%; }
          body main .seccionFotos .contenedorMV2 img {
            object-fit: contain;
            width: 100%;
            height: auto; }
        body main .seccionFotos .contenedorP1 {
          width: 100%; }
          body main .seccionFotos .contenedorP1 img {
            object-fit: contain;
            width: 100%;
            height: auto; }
        body main .seccionFotos .contenedorP2 {
          width: 100%; }
          body main .seccionFotos .contenedorP2 img {
            object-fit: contain;
            width: 100%;
            height: auto; }
    body .tituloPrincipalClases {
      display: flex;
      justify-content: center;
      font-size: 2rem;
      margin: 2% 0%; }
    body .contenidoClases {
      grid-area: section;
      display: grid;
      grid-template-rows: 1fr 1fr;
      column-gap: 5%;
      grid-template-areas: "c1" "c2"; }
      body .contenidoClases .contenedorClase {
        margin: 5% 0%;
        width: 100%;
        position: relative; }
        body .contenidoClases .contenedorClase img {
          object-fit: contain;
          width: 100%; }
        body .contenidoClases .contenedorClase .contenidoAdicional {
          display: grid;
          grid-template-areas: "titulo" "dia" "categoria" "profe";
          position: absolute;
          background-color: white;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.5);
          overflow: hidden; }
          body .contenidoClases .contenedorClase .contenidoAdicional .tituloClase {
            grid-area: titulo;
            font-size: 3rem;
            text-align: center; }
          body .contenidoClases .contenedorClase .contenidoAdicional .diaClase {
            grid-area: dia;
            font-size: 1.5rem;
            opacity: 1;
            text-align: center; }
          body .contenidoClases .contenedorClase .contenidoAdicional .categoriaClase {
            grid-area: categoria;
            font-size: 1.5rem;
            opacity: 1;
            text-align: center; }
          body .contenidoClases .contenedorClase .contenidoAdicional .profesorClase {
            grid-area: profe;
            font-size: 1.5rem;
            opacity: 1;
            text-align: center; }
    body footer {
      background-color: #6fd1ff;
      grid-area: footer;
      display: flex;
      flex-direction: column;
      align-content: space-around;
      padding: 20px 0; }
      body footer .contenedorRedes {
        display: flex;
        flex-direction: column;
        align-items: center; }
      body footer .contenedorMapa {
        display: flex;
        flex-direction: column;
        align-items: center; }
        body footer .contenedorMapa .mapa {
          width: 80%; } }

@media (min-width: 720px) {
  body {
    display: grid;
    row-gap: 20px;
    grid-template-rows: 20vh auto 20vh;
    grid-template-areas: "header header header" "section section section" "footer footer footer"; }
    body header {
      background-color: #6fd1ff;
      grid-area: header;
      display: grid;
      grid-template-rows: 25vh;
      grid-template-areas: "navg"; }
      body header .nav {
        height: 100%;
        grid-area: navg;
        grid-template-areas: "navContenido";
        align-self: center; }
        body header .nav .navContenido {
          height: 100%;
          grid-area: navContenido;
          grid-template-areas: "navg1 logo .";
          list-style: none;
          display: flex;
          justify-content: space-evenly; }
          body header .nav .navContenido .logo {
            grid-area: logo;
            justify-self: center; }
            body header .nav .navContenido .logo img {
              height: 100%; }
          body header .nav .navContenido .navg1 {
            grid-area: navg1;
            align-self: center; }
            body header .nav .navContenido .navg1 a {
              text-decoration: none;
              font-size: 2rem; }
          body header .nav .navContenido .navg2 {
            grid-area: navg1;
            align-self: center; }
            body header .nav .navContenido .navg2 a {
              text-decoration: none;
              font-size: 2rem; }
      body header .iconoNav {
        display: none; }
    body .contenidoPrincipal {
      grid-area: section; }
      body .contenidoPrincipal .seccionVideo {
        position: relative;
        margin-bottom: 50px; }
        body .contenidoPrincipal .seccionVideo .articuloVideo {
          max-height: 70vh;
          overflow: hidden; }
          body .contenidoPrincipal .seccionVideo .articuloVideo video {
            transform: translateY(-200px); }
        body .contenidoPrincipal .seccionVideo .fondoVideo {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: black;
          opacity: 50%;
          z-index: 1; }
        body .contenidoPrincipal .seccionVideo .articuloTitulo {
          display: flex;
          font-size: 2rem;
          text-align: center;
          padding-bottom: 50px;
          overflow: hidden;
          position: absolute;
          top: 0px;
          height: 100%;
          width: 100%;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          z-index: 2;
          color: aliceblue; }
          body .contenidoPrincipal .seccionVideo .articuloTitulo img {
            width: 50%; }
      body .contenidoPrincipal .articuloSecundario {
        position: relative;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 0.5fr 4fr 0.5fr;
        row-gap: 10px;
        grid-template-areas: "titulo titulo titulo"  ".  texto ."; }
        body .contenidoPrincipal .articuloSecundario:nth-child(2):before {
          content: " ";
          width: 20%;
          height: 100%;
          position: absolute;
          top: 20px;
          left: 15px;
          background-image: url("../img/profes/cele.png");
          background-repeat: no-repeat;
          background-size: cover;
          opacity: 50%;
          border-radius: 50%; }
        body .contenidoPrincipal .articuloSecundario:nth-child(9):before {
          content: " ";
          width: 10%;
          height: 50%;
          position: absolute;
          top: 0px;
          left: 15px;
          background-image: url("../img/logos/logo_confederacion_danza.png");
          background-repeat: no-repeat;
          background-size: contain;
          opacity: 50%;
          border-radius: 0%; }
        body .contenidoPrincipal .articuloSecundario .subtituloArticle {
          display: flex;
          justify-content: center;
          grid-area: titulo;
          font-size: 1.5rem; }
          body .contenidoPrincipal .articuloSecundario .subtituloArticle h2 {
            background-image: url("../img/logos/pngwing.com.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover; }
        body .contenidoPrincipal .articuloSecundario .textoArticle {
          grid-area: texto;
          font-size: 1.5rem;
          padding: 50px 0px; }
          body .contenidoPrincipal .articuloSecundario .textoArticle .fraseNegrita {
            font-weight: bolder; }
      body .contenidoPrincipal .seccionFotos {
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "foto1 foto2";
        justify-items: center;
        padding: 10px 0;
        background-color: #6fd1ff; }
        body .contenidoPrincipal .seccionFotos:nth-child(3) {
          display: none; }
        body .contenidoPrincipal .seccionFotos .contenedorMV1 {
          display: flex;
          grid-area: foto1;
          width: 50%; }
          body .contenidoPrincipal .seccionFotos .contenedorMV1 img {
            transform: translateY(15%);
            border-radius: 20%;
            width: 100%;
            opacity: 0; }
        body .contenidoPrincipal .seccionFotos .contenedorMV2 {
          grid-area: foto2;
          width: 50%; }
          body .contenidoPrincipal .seccionFotos .contenedorMV2 img {
            transform: translateY(15%);
            border-radius: 20%;
            width: 100%;
            opacity: 0; }
        body .contenidoPrincipal .seccionFotos .contenedorP1 {
          grid-area: foto1;
          width: 50%; }
          body .contenidoPrincipal .seccionFotos .contenedorP1 img {
            transform: translateX(15%);
            border-radius: 20%;
            width: 100%;
            opacity: 0; }
        body .contenidoPrincipal .seccionFotos .contenedorP2 {
          grid-area: foto2;
          width: 50%; }
          body .contenidoPrincipal .seccionFotos .contenedorP2 img {
            transform: translateX(15%);
            border-radius: 20%;
            width: 100%;
            opacity: 0; }
    body .tituloPrincipalClases {
      display: flex;
      justify-content: center;
      font-size: 2rem;
      margin: 2% 0%; }
    body .contenidoClases {
      grid-area: section;
      display: grid;
      grid-template-columns: 15px 1fr 1fr 15px;
      column-gap: 5%;
      grid-template-areas: ". c1 c2 ."; }
      body .contenidoClases .contenedorClase {
        margin: 5% 0%;
        width: 100%;
        position: relative; }
        body .contenidoClases .contenedorClase img {
          object-fit: contain;
          width: 100%; }
        body .contenidoClases .contenedorClase .contenidoAdicional {
          display: grid;
          grid-template-areas: "titulo" "dia" "categoria" "profe";
          position: absolute;
          background-color: white;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 15%;
          background-color: rgba(255, 255, 255, 0.5);
          overflow: hidden; }
          body .contenidoClases .contenedorClase .contenidoAdicional .tituloClase {
            grid-area: titulo;
            font-size: 3rem;
            text-align: center; }
          body .contenidoClases .contenedorClase .contenidoAdicional .diaClase {
            grid-area: dia;
            font-size: 1.5rem;
            opacity: 0;
            text-align: center; }
          body .contenidoClases .contenedorClase .contenidoAdicional .categoriaClase {
            grid-area: categoria;
            font-size: 1.5rem;
            opacity: 0;
            text-align: center; }
          body .contenidoClases .contenedorClase .contenidoAdicional .profesorClase {
            grid-area: profe;
            font-size: 1.5rem;
            opacity: 0;
            text-align: center; }
    body footer {
      background-color: #6fd1ff;
      grid-area: footer;
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: fit-content;
      grid-template-areas: "contenedorRedes contenedorMapa"; }
      body footer .contenedorRedes {
        grid-area: contenedorRedes;
        display: grid;
        grid-template-columns: 1fr auto auto 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: ". . . ."  ". red_face usuario_face ." ". red_ig usuario_ig ." ". red_wts usuario_wts ." ". . . .";
        font-size: 1.5rem; }
        body footer .contenedorRedes .icnFace {
          grid-area: red_face; }
        body footer .contenedorRedes .usuario_face {
          grid-area: usuario_face; }
        body footer .contenedorRedes .icnIg {
          grid-area: red_ig; }
        body footer .contenedorRedes .usuario_ig {
          grid-area: usuario_ig; }
        body footer .contenedorRedes .icnWts {
          grid-area: red_wts; }
        body footer .contenedorRedes .usuario_wts {
          grid-area: usuario_wts; }
      body footer .contenedorMapa {
        grid-area: contenedorMapa;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; }
        body footer .contenedorMapa p {
          font-size: 1.5rem; }
        body footer .contenedorMapa .mapa {
          height: 70%;
          width: 70%; } }

.wtsappFlotante {
  position: fixed; }
  @media (min-width: 720px) {
    .wtsappFlotante {
      top: 80%;
      left: 90%;
      z-index: 999999; }
      .wtsappFlotante a {
        display: flex;
        justify-content: flex-end;
        flex-direction: row; }
        .wtsappFlotante a img {
          width: 50%; } }
  @media (min-width: 320px) and (max-width: 430px) {
    .wtsappFlotante {
      top: 85%;
      left: 85%; }
      .wtsappFlotante a {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: row; }
        .wtsappFlotante a img {
          height: 100%;
          width: 100%; } }
