*, ul {
  margin: 0;
  padding: 0; }

.bloqueViewport, .bloqueIndex {
  height: 100vh;
  overflow: hidden; }

.bloqueViewportAnexo, .bloqueIndexdos, .bloqueIndextres {
  height: 100vh;
  width: 100%;
  overflow: hidden; }

.bloqueIndex .contenedorNav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 10%;
  z-index: 9998; }
  .bloqueIndex .contenedorNav .navegador {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center; }
    .bloqueIndex .contenedorNav .navegador .navItems {
      width: 80%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center; }
      .bloqueIndex .contenedorNav .navegador .navItems li {
        list-style: none; }
        .bloqueIndex .contenedorNav .navegador .navItems li a {
          text-decoration: none;
          color: #fff;
          font-size: 1.5rem; }

.bloqueIndex .contenedorLogo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; }
  .bloqueIndex .contenedorLogo img {
    width: auto;
    height: 40%; }

.bloqueIndex .contenedorVideo video {
  width: 100%; }

.bloqueIndexdos {
  border: solid 1px #000;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); }
  .bloqueIndexdos .imgBloqueDos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; }
    .bloqueIndexdos .imgBloqueDos img {
      height: 70%;
      border-radius: 50%;
      border: solid 10px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 0px 0px 15px #000; }
  .bloqueIndexdos .fraseBloqueDos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end; }
    .bloqueIndexdos .fraseBloqueDos p {
      width: 95%;
      font-size: 2.5rem;
      text-align: center; }

.bloqueIndextres {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); }
  .bloqueIndextres #listadoClases {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 1rem; }
    .bloqueIndextres #listadoClases .listadoClases .cajaClase {
      width: 80%; }
  .bloqueIndextres #detalleClases {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; }
    .bloqueIndextres #detalleClases .cajaDetalle .imgProfes img {
      width: 70%;
      border-radius: 50%;
      box-shadow: 0px 0px 15px 2px #000; }
