@media (min-width: 720px){
    
    body{
        display: grid;
        row-gap: 20px;
        grid-template-rows: 20vh auto 20vh;
        grid-template-areas: 
        "header header header"
        "section section section"
        "footer footer footer";

        @import '../sass/header/header_desktop.scss';

        @import '../sass/main_index/index_desktop.scss';

        @import '../sass/clases/clases_desktop.scss';

        @import '../sass/footer/footer_desktop.scss';
        
    }//FIN DEL body
}// FIN DEL @media
