@media (min-width: 320px) and (max-width: 430px){
    
    body{
        display: grid;
        grid-template-areas: 
        "header"
        "section"
        "footer";
        height: max-content;
    
        @import '../sass/header/header_mobile.scss';
        
        @import '../sass/main_index/index_mobile.scss';

        @import '../sass/footer/footer_mobile.scss';
        
        
    }
    
    
}
    
