*,ul{
    margin: 0;
    padding: 0;
}

@mixin flex-justify ($direccion,$wrap,$justify,$align){
    display: flex;
    flex-direction: $direccion;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-content: $align;
}

.bloqueViewport{
    height: 100vh;
    overflow: hidden;
}
.bloqueViewportAnexo{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

