*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
};

@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');
$fuente-principal:'Shantell Sans', cursive;
$backgound-color:rgb(111, 209, 255);
/*
-- FUNETES --
font-family: 'Caveat', cursive;
font-family: 'Cinzel', serif;
font-family: 'Comforter', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Shantell Sans', cursive;
*/

body{
    font-family: $fuente-principal;
}

@mixin contenedorClase($heigth,$opacity){
        width: 100%;
        position: relative;
        img{
            object-fit: contain;
            width: 100%;
        }
        @include contenidoAdicional($heigth,$opacity);
}

@mixin contenidoAdicional($heigth,$opacity){
    .contenidoAdicional{
        display: grid;
        grid-template-areas: 
        "titulo"
        "dia"
        "categoria"
        "profe";
        position: absolute;
        background-color: white;
        top:0px;
        left:0px;
        width: 100%;
        height: $heigth;
        background-color:rgba(255,255,255,0.5);
        overflow: hidden;
        
        .tituloClase{
            grid-area: titulo;
            font-size: 3rem;
            text-align: center;
        }
        
        .diaClase{
            grid-area: dia;
            font-size: 1.5rem;
            opacity: $opacity;
            text-align: center;
        }

        .categoriaClase{
            grid-area: categoria;
            font-size: 1.5rem;
            opacity: $opacity;
            text-align: center;
        }

        .profesorClase{
            grid-area: profe;
            font-size: 1.5rem;
            opacity: $opacity;
            text-align: center;
        }
    
    }
}


@mixin imagenFondo($ch,$width,$height,$top,$left, $backgroundImage,$backgroundRepeat,$backgroundSize,$opacity,$borderRadius){
    
    &:nth-child(#{$ch}):before{
        content: " ";
        width: $width;
        height: $height;
        position: absolute;
        top: $top;
        left: $left;
        background-image: url($backgroundImage);
        background-repeat: $backgroundRepeat;
        background-size: $backgroundSize;
        opacity: $opacity;
        border-radius: $borderRadius;
    }
}


@mixin animacionContenidoAdicional($opacity,$top,$left,$width,$height){
    display: grid;
    grid-template-areas: 
    "titulo "
    "dia"
    "categoria"
    "profe";
    background-color: white;
    position: absolute;
    top:$top;
    left:$left;
    width: $width;
    background-color:rgba(255,255,255,0.5);
    transition: all 2s;
    height: $height;
    overflow: hidden;
    .tituloClase{
        grid-area: titulo;
        font-size: 3rem;
        text-align: center;
    }
    
    .diaClase{
        grid-area: dia;
        font-size: 1.5rem;
        opacity: $opacity;
        transition: all 2s;
        text-align: center;
    }
    
    .categoriaClase{
        grid-area: categoria;
        font-size: 1.5rem;
        opacity: $opacity;
        transition: all 2s;
        text-align: center;
    }
    
    .profesorClase{
        grid-area: profe;
        font-size: 1.5rem;
        opacity: $opacity;
        transition: all 2s;
        text-align: center;
    }
}