@media (min-width: 720px){
    
    body{
        display: grid;
        row-gap: 20px;
        grid-template-rows: 20vh auto 20vh;
        grid-template-areas: 
        "header header header"
        "section section section"
        "footer footer footer";

        header{
        background-color: rgb(111, 209, 255);
        grid-area: header;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 25vh;
        grid-template-areas: 
        "logo . nav nav";
    
        .logo{
            grid-area: logo;
            justify-self: center;
            img{
                height: 100%;
            }// FIN DE img
        } // FIN DE .logo

        .nav{
            grid-area: nav;
            align-self: center;
            .navContenido{
                list-style: none;
                display: flex;
                justify-content: space-around;
                li{
                    a {
                        text-decoration: none;
                        font-size: 2rem;
                    }
                } 
            }// FIN DE .navContenido
        }// FIN DE .nav

        .iconoNav{
            display: none;
        }
    } // FIN DE header

        .contenidoPrincipal{
            grid-area: section;
            
            .seccionVideo{
                position: relative;
                margin-bottom: 50px;
                
                .articuloVideo{
                    max-height: 70vh;
                    overflow: hidden;
                    video{
                        transform: translateY(-200px);
                    }
                }

                .fondoVideo{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: black;
                    opacity: 50%;
                    z-index: 1;
                }

                .articuloTitulo{
                    display: flex;
                    font-size: 2rem;
                    text-align: center;
                    padding-bottom: 50px;
                    overflow: hidden;
                    position: absolute;
                    top:0px;
                    width: 100%;
                    height: 100%;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    z-index: 2;
                    color: aliceblue;

                    img{
                        width: 50%;
                    }
                }
            }

            .articuloSecundario{
                position: relative;
                margin-top: 10px;
                display: grid;
                grid-template-columns: 0.5fr 4fr 0.5fr;
                grid-template-rows: 20vh 20vh;
                row-gap: 10px;
                grid-template-areas: 
                "titulo titulo titulo" 
                ".  texto .";

                    &:nth-child(2):before{
                        content: " ";
                        width: 20%;
                        height: 100%;
                        position: absolute;
                        top: 0px;
                        left: 15px;
                        background-image: url('../img/profes/cele.png');
                        background-repeat: no-repeat;
                        background-size: cover;
                        opacity: 50%;
                        border-radius: 50%;
                    }

                    &:nth-child(4):before{
                        content: " ";
                        width: 95%;
                        height: 100%;
                        position: absolute;
                        top: 0px;
                        left: 15px;
                        background-image: url('../img/profes/brian1-removebg-preview.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        opacity: 50%;
                        background-position: right;
                    }

                    &:nth-child(6):before{
                        content: " ";
                        width: 80%;
                        height: 50%;
                        position: absolute;
                        top: 0px;
                        left: 15px;
                        background-image: url('../img/logos/logo_confederacion_danza.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        opacity: 50%;
                        background-position: right;
                    }

                .subtituloArticle{
                    grid-area: titulo;
                    background-image: url("../img/logos/pngwing.com.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: center;
                    font-size: 1.5rem;
                }// FIN DE section

                .textoArticle{
                    grid-area: texto;
                    font-size: 1.5rem;
                    .fraseNegrita{
                        font-weight: bolder;
                    }
                }// FIN DE .textoArticle
            }//FIN de .articuloSecundario
        } //FIN DE .contenidoPrincipal o main


        footer{
        background-color: rgb(111, 209, 255);
        grid-area: footer;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: fit-content;
        grid-template-areas: 
        "contenedorRedes contenedorMapa";

            .contenedorRedes{
                grid-area: contenedorRedes;
                display: grid;
                grid-template-columns: 1fr auto auto 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
                grid-template-areas:
                ". . . ." 
                ". red_face usuario_face ."
                ". red_ig usuario_ig ."
                ". red_wts usuario_wts ."
                ". . . .";
                font-size: 1.5rem;
                
                .icnFace{
                    grid-area: red_face;
                }
                .usuario_face{
                    grid-area: usuario_face;
                }

                .icnIg{
                    grid-area: red_ig;
                }
                .usuario_ig{
                    grid-area: usuario_ig;
                }

                .icnWts{
                    grid-area: red_wts;
                }
                .usuario_wts{
                    grid-area: usuario_wts;
                }
            }
            .contenedorMapa{
                grid-area: contenedorMapa;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                p{
                    font-size: 1.5rem;
                }
                .mapa{
                    height: 70%;
                    width: 70%;
                }

            }


        } // FIN DE footer
    
    }//FIN DEL body
}// FIN DEL @media
