
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@media (min-width: 320px) and (max-width: 430px){
    
    body{
        display: grid;
        grid-template-areas: 
        "header"
        "section"
        "footer";
        height: max-content;
        
        header{
            grid-area: header;
            display: grid;
            grid-template-areas: 
            "nav"
            "logo";
            align-content: center;
                
                .logo{
                    grid-area: logo;
                    display: flex;
                    justify-content: center;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
                .nav{
                    grid-area: nav;
                    .navContenido{
                        list-style: none;
                        display: flex;
                        justify-content: space-around;
                        li {
                            a {
                                text-decoration: none;
                                font-size: 100%;
                            }
                        }
                    }
                }
                
            }
            
            
            main{
                grid-area: section;
                
                .seccionVideo{
                    display: none;
                    .articuloTitulo{
                        padding: 20px 5px;
                        text-align: center;
                        font-size: 1.2rem;
                    }
                }
                .articuloSecundario{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 20px;
                    background-image: url("../img/logos/pngwing.com.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            footer{
                background-color: rgb(111, 209, 255);
                grid-area: footer;
                display: flex;
                flex-direction: column;
                align-content: space-around;
                padding: 20px 0;
                .contenedorRedes{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .contenedorMapa{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .mapa{
                        width: 80%;
                    }
                }
            }
        }
    






}