
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@media (min-width: 500px) and (max-width: 719px){
    
    body{
        display: grid;
        grid-template-areas: 
        "header"
        "section"
        "footer";
        height: max-content;
    }


        header{
        grid-area: header;
        grid-template-rows: 50vh;
        display: grid;
        grid-template-areas: 
        "logo"
        "nav";
        align-content: center;
    }


    .contenidoPrincipal{
        grid-area: section;
    }

    article{
        padding: 20px 5px;
        text-align: center;
        font-size: 1.2rem;
    }

    .articuloSecundario{
        background-image: url("../img/logos/pngwing.com.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    footer{
        background-color: blueviolet;
        grid-area: footer;
    }

    .logo{
        grid-area: logo;
        display: flex;
        justify-content: center;
    }

    .logo img{
        height: 100%;
    }

    .nav{
        grid-area: nav;
    }
    
    .navContenido{
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
    .navContenido li a {
        text-decoration: none;
        font-size: 100%;
    }
}