.tituloPrincipalClases{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 2% 0%;
}

.contenidoClases{
    grid-area: section;
    display:grid;
    grid-template-rows: 1fr 1fr;
    column-gap: 5%;
    grid-template-areas:
    "c1"
    "c2";

    .contenedorClase{
        margin: 5% 0%;
        //mixin en _variables - linea 24
        @include contenedorClase(100%);
    }
    
}
