.contenidoClases{
    grid-area: section;
    display:grid;
    grid-template-columns: 15px 1fr 1fr 15px;
    column-gap: 5%;
    grid-template-areas: 
    ". c1 c2 .";


    .contenedorClase1{
        grid-area: c1;
        width: 100%;
        position: relative;
        img{
            object-fit: contain;
            width: 100%;
        }
        .contenidoAdicional{
            position: absolute;
            top:0px;
            left:0px;
            width: 50%;
            background-color: aliceblue;
        }
    }

    
    .contenedorClase2{
        grid-area: c2;
        width: 100%;
        img{
            object-fit: contain;
            width: 100%;
        }
    }

    .contenedorClase3{
        grid-area: c1;
        width: 100%;
        img{
            object-fit: contain;
            width: 100%;
        }
    }
    
    .contenedorClase4{
        grid-area: c2;
        width: 100%;
        overflow: hidden;
        img{
            object-fit: cover;
            width: 100%;
        }
    }
    
    .entradaAnimacionClase{
        transition: all 2s;
        filter: grayscale(100%);
    }

    .animacionContenidoAdicional{
        transition: all 2s;
        top:50px
    }

    .salidaAnimacionClase{
        transition: all 2s;
        filter: grayscale(0%);
    }
}
