.contenidoPrincipal{
    grid-area: section;
    
    .seccionVideo{
        position: relative;
        margin-bottom: 50px;
        
        .articuloVideo{
            max-height: 70vh;
            overflow: hidden;
            video{
                transform: translateY(-200px);
            }
        }

        .fondoVideo{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 50%;
            z-index: 1;
        }

        .articuloTitulo{
            display: flex;
            font-size: 2rem;
            text-align: center;
            padding-bottom: 50px;
            overflow: hidden;
            position: absolute;
            top:0px;
            height: 100%;
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            z-index: 2;
            color: aliceblue;

            img{
                width: 50%;
            }
        }
    }

    .articuloSecundario{
        position: relative;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 0.5fr 4fr 0.5fr;
        row-gap: 10px;
        grid-template-areas: 
        "titulo titulo titulo" 
        ".  texto .";

            @include imagenFondo(2,20%,100%,20px,15px,'../img/profes/cele.png',no-repeat,cover,50%,50%);

            @include imagenFondo(9,10%,50%,0px,15px,'../img/logos/logo_confederacion_danza.png',no-repeat,contain,50%,0%);

        .subtituloArticle{
            display: flex;
            justify-content: center;
            grid-area: titulo;
            font-size: 1.5rem;
            h2{
                background-image: url("../img/logos/pngwing.com.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }// FIN DE section

        .textoArticle{
            grid-area: texto;
            font-size: 1.5rem;
            padding: 50px 0px;
            .fraseNegrita{
                font-weight: bolder;
            }
        }// FIN DE .textoArticle
    }//FIN de .articuloSecundario

    .seccionFotos{
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "foto1 foto2";
        justify-items: center;
        padding: 10px 0;
        background-color: $backgound-color;
        
        &:nth-child(3){
            display: none;
        }
        .contenedorMV1{
            display: flex;
            grid-area: foto1;
            width: 50%;
            img{
                transform:translateY(15%);
                border-radius: 20%;
                width: 100%;
                opacity: 0;
            }
        }
        .contenedorMV2{
            grid-area: foto2;
            width: 50%;
            img{
                transform:translateY(15%);
                border-radius: 20%;
                width: 100%;
                opacity: 0;
            }
        }
        .contenedorP1{
            grid-area: foto1;
            width: 50%;
            img{
                transform:translateX(15%);
                border-radius: 20%;
                width: 100%;
                opacity: 0;
            }
        }
        .contenedorP2{
            grid-area: foto2;
            width: 50%;
            img{
                transform:translateX(15%);
                border-radius: 20%;
                width: 100%;
                opacity: 0;
            }
        }
    
    }

} //FIN DE .contenidoPrincipal o main
